h1 {
    text-align: center;
    font-size: 300%;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    background-color: #979da3;
}
.dropbtn {
    background-color: #95d5ff;
    color: black;
    padding: 14px;
    font-size: 16px;
    margin-top: 45px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #82abc6;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {
    background-color: #abb1b7;
}
  
.show {
    display: block;
}

p{
    background-color: #95d5ff;
    color: black;
    padding: 5px;
    font-size: 16px;
}

body{
    background-color: lightgray;
}