
:root {
    --color1: lightgrey;
    --color2: darkblue;

    --textcolor1: black;
    --textcolor2: white;
    --textcolorbanner: white;
}

body {
    margin: 0%;
}

#navbar {
    background-color: var(--color2);
}

#navbar #banner {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

#navbar #header {
    margin-top: 0%;
    text-align: left;
    color: var(--textcolorbanner);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
}

#navbar #links {
    display: flex;
    position: relative;
    background-color: var(--color1);
    justify-content: space-around;
    padding: 7px;
    background-color: lightgray
}

#navbar #links a {
    color: var(--textcolor1);
    display: block;
    padding: 5px 16px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#navbar #links a:hover {
    background-color: rgb(153, 147, 147);
}